services:
  rust-compile-test:
    image: liquislime/compile-rust
    container_name: compile-rust-test
    ports:
      - 8100:8000
    volumes:
      - compile-rust-target:/target
    restart: unless-stopped
volumes:
  compile-rust-target:
